<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottery</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <table>
        <tr>
            <th>วันที่</th>
            <th>หมวดหมู่</th>
            <th>เลขที่ออก</th>
            <th>รางวัล</th>
        </tr>
        <% lottery.forEach(function(item) { %>
        <tr> 
            <td><%= item.date %></td>
            <td><%= item.category %></td>
            <td><%= item.draw %></td>
            <td><%= item.prize %></td>
        </tr>
    <% }) %>
    </table>

    <% if(typeof mesg != "undefined") { %>
        <h1><%= mesg %></h1>
        <% } %>
    
    <div class="check">
        <!<p>ตรวจสอบรางวัล</p>
        <form action="/" method="get">
            <div>
                <input class="input" type="search" name="draw" id="draw">
                <button type="submit">submit</button>
            <div>
        </form> 
    </div>
</body>
</html>